
.Main {
    min-height: calc(100dvh - 76px - 30px);
    margin: 0 auto;
    padding: 14px;
    display: flex;
    justify-content: center;
    background-color: #B7E5B4;
}
.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 14px;
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0, 0.5);
}

.Preview {
    display: flex;
    justify-content: flex-end;
}
.Preview > img{
    max-width: 450px;
}

.Mark {
    display: flex;
    align-items: center;
}
.Mark > span{
    padding: 4px;
    border-radius: 4px;
    font-weight: 600;
}

.Settings {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.Actions svg{
    max-width: 100%;
}
.Actions {
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.Actions > div:nth-child(2)  {
    display: flex;
    gap: 14px;
    justify-content: center;
}

.Hold {
    background-color: #ff7373;
}
.Odzysk {
    background-color: #ffd46c;
}



.Wrapper > div:nth-child(1) { grid-area: 1 / 1 / 2 / 2; padding: 14px}
.Wrapper > div:nth-child(2) { grid-area: 1 / 2 / 2 / 3; padding: 14px}
.Wrapper > div:nth-child(3) { grid-area: 2 / 1 / 3 / 3; padding: 14px}

@media screen and (min-width: 1000px) {
    .Mark {
        font-size: 18px;
    }
}

@media screen and (max-width: 700px){
    .Wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
    }
}