.Main {
    max-width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    right: 0;
    left: 0;
    top: 2.5vh;
    z-index: -1;
    background-color: white;
    margin: 1vw 2.5vw;
}