.Main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 14px;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.Wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(195,235,233);
    padding: 14px;
    border-radius: 4px;
}