.Main {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 0.75fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    padding: 14px;
    background: linear-gradient(rgb(38, 118, 104), rgb(98, 140, 114));
    min-height: calc(100dvh - 160px);
}
.Main > div{
    //box-shadow: inset 5px 5px 5px rgba(0,0,0, 0.5);
    background-color: rgba(250, 250, 250, 1);
    border-radius: 4px;
    padding: 14px;
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 !important;
}
.div2 {
    grid-area: 1 / 2 / 2 / 5;
}
.div3 {
    grid-area: 2 / 2 / 3 / 5;
}
.div4 {
    grid-area: 1 / 5 / 2 / 6;
}
.div5 {
    grid-area: 2 / 5 / 3 / 6;
}
.Details {
    background: rgb(219,241,211) !important;
}
.DetailsWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media screen and (max-width: 1000px){
    .Main {
        display: flex;
        flex-direction: column;
    }

    .div1 {
        height: auto;
    }
}