.Main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Wrapper {
    background-color: white;
    padding: 14px;
    border-radius: 4px;
    cursor: auto;
    min-width: 600px;
}