.Main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.5);
    cursor: pointer;
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.Wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 14px;
    cursor: auto;
}

.ButtonBlock {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.Active {
    pointer-events: auto;
    opacity: 1;
}

@media screen and (max-width: 1000px) {
    .Wrapper {
        width: 100%;
        align-items: center;
    }
}